Repository xaynetwork/plugins, pull requests merged in 2021-08, with the labels that each got.

#12 [TB-2518] Fire onPageFinished event when WebView was cached
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
Labels: p: webview_flutter, platform-android, platform-ios

#16 Improve screenshot making into flutter_webview (Android)
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
Labels: p: webview_flutter, platform-android

#15 Flutter webview imptove screenshot making
  packages/webview_flutter/ios/Classes/FLTWKProgressionDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
Labels: p: webview_flutter, platform-ios

#18 TB-2590 Introduced onCachedPageFinished callback
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebViewClient.java
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.h
  packages/webview_flutter/ios/Classes/FLTWKNavigationDelegate.m
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
Labels: p: webview_flutter, platform-android, platform-ios
