Repository xaynetwork/plugins, pull requests merged in 2021-03, with the labels that each got.

#3 Null safety fixes
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
Labels: p: webview_flutter

#5 Null Pointer Exception fix
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/WebViewManager.java
Labels: p: webview_flutter, platform-android

#4 Webview take screenshot with secondary thread
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
Labels: p: webview_flutter, platform-android

#6 [webview_flutter] Fix issue where local and asset HTML files cannot be loaded
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
Labels: p: webview_flutter, platform-android, platform-ios

#7 [webview_flutter] Fix issue where local and asset HTML files cannot be loaded
  packages/webview_flutter/android/src/main/java/io/flutter/plugins/webviewflutter/FlutterWebView.java
  packages/webview_flutter/ios/Classes/FLTWebViewFlutterPlugin.m
  packages/webview_flutter/ios/Classes/FlutterWebView.h
  packages/webview_flutter/ios/Classes/FlutterWebView.m
  packages/webview_flutter/lib/platform_interface.dart
  packages/webview_flutter/lib/src/webview_method_channel.dart
  packages/webview_flutter/lib/webview_flutter.dart
Labels: p: webview_flutter, platform-android, platform-ios
